body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#form1 {
    width: 700px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="date"],
form select,
form button,
form input[type="submit"] {
    margin-bottom: 5px;
    width: 15%;
    padding: 8px;
}

form asp\:button {
    margin-bottom: 5px;
    width: 30%;
    padding: 8px;
}
